# import

In [9]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)

In [10]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

# 前提

In [11]:
my_share = share.Share('7203.T')
symbol_data = None
 
try:
    symbol_data = my_share.get_historical(
        share.PERIOD_TYPE_WEEK, 30,
        share.FREQUENCY_TYPE_DAY, 1)
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)
 
df = pd.DataFrame(symbol_data)

In [12]:
df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")

In [13]:
df = df.iloc[:,1:]

In [14]:
df = df[0:30]

# 描出

In [15]:
df.head()

          open         high          low        close    volume   datetime
0  1702.000000  1719.000000  1686.400024  1692.400024  21686500 2021-04-02
1  1699.000000  1700.800049  1684.199951  1692.199951  20385000 2021-04-05
2  1714.000000  1714.000000  1668.199951  1673.199951  27262000 2021-04-06
3  1694.800049  1709.599976  1681.000000  1697.400024  29696000 2021-04-07
4  1699.599976  1699.599976  1678.000000  1683.599976  22586000 2021-04-08

In [16]:
df.shape

(30, 6)