# import

In [1]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)

In [2]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

# 前提

In [3]:
my_share = share.Share('MSFT')
symbol_data = None
 
try:
    symbol_data = my_share.get_historical(
        share.PERIOD_TYPE_WEEK, 30,
        share.FREQUENCY_TYPE_DAY, 1)
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)
 
df = pd.DataFrame(symbol_data)

In [4]:
df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")

In [5]:
df = df.iloc[:,1:]

In [9]:
df = df[0:30]

# 描出

In [10]:
df.head()

,open,high,low,close,volume,datetime
0,242.759995,249.960007,242.699997,249.070007,36910600,2021-04-05 13:30:00
1,247.610001,249.399994,246.880005,247.860001,22931900,2021-04-06 13:30:00
2,247.809998,250.929993,247.190002,249.899994,22719800,2021-04-07 13:30:00
3,252.770004,254.139999,252.000000,253.250000,23625200,2021-04-08 13:30:00
4,252.869995,255.990005,252.440002,255.850006,24326800,2021-04-09 13:30:00

In [11]:
df.shape

(30, 6)