# import

In [27]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)

In [28]:
# !pip install yahoo_fin

In [29]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError
# from yahoo_fin.stock_info import get_data

# 前提

In [49]:
my_share = share.Share('MSFT')
symbol_data = None
 
try:
    symbol_data = my_share.get_historical(
        share.PERIOD_TYPE_WEEK, 30,
        share.FREQUENCY_TYPE_DAY, 1)
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)
 
df = pd.DataFrame(symbol_data)

In [50]:
df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")

In [51]:
df = df.iloc[::-1,1:]

# 描出

In [54]:
df = df[0:100]

In [55]:
df.head()

,open,high,low,close,volume,datetime
145,324.329987,324.869995,321.359985,324.350006,26275100,2021-10-28 13:30:00
144,316.000000,326.100006,316.000000,323.170013,52588700,2021-10-27 13:30:00
143,311.000000,312.399994,308.600006,310.109985,28107300,2021-10-26 13:30:00
142,309.359985,309.399994,306.459991,308.130005,17554500,2021-10-25 13:30:00
141,310.399994,311.089996,307.799988,309.160004,17440800,2021-10-22 13:30:00

In [56]:
df.shape

(100, 6)