# import

In [2]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)

In [3]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

# 前提

In [4]:
my_share = share.Share('MSFT')
symbol_data = None
 
try:
    symbol_data = my_share.get_historical(
        share.PERIOD_TYPE_DAY, 30,
        share.FREQUENCY_TYPE_DAY, 1)
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)
 
df = pd.DataFrame(symbol_data)

In [5]:
df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")

In [6]:
df = df.iloc[:,1:]

# 描出

In [7]:
df.head()

,open,high,low,close,volume,datetime
0,285.100006,286.769989,283.010010,284.000000,26353700,2021-09-29 13:30:00
1,285.709991,287.829987,281.619995,281.920013,32325800,2021-09-30 13:30:00
2,282.119995,289.980011,281.290009,289.100006,30086300,2021-10-01 13:30:00
3,287.399994,287.750000,280.250000,283.109985,31350700,2021-10-04 13:30:00
4,284.049988,290.399994,284.049988,288.760010,24993000,2021-10-05 13:30:00

In [9]:
df.shape

(22, 6)