# import

In [1]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)

In [1]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

In [2]:
import pprint
sys.path.append("C:\\Users\\User\\Work\\auto_trading\\auto_trading")
from raw_data_100 import RawData

# 描出

In [3]:
raw_data = RawData('7203','JP')

In [4]:
raw_data.time_series_data.tail()

           open         high          low        close    volume   datetime
45  1983.199951  2018.000000  1976.800049  2015.000000  36932500 2021-06-15
44  1986.000000  1991.599976  1976.599976  1980.000000  15667000 2021-06-14
43  1969.199951  1980.599976  1956.000000  1972.199951  32905500 2021-06-11
42  1966.000000  1983.599976  1964.000000  1973.199951  20786500 2021-06-10
41  1967.199951  1990.000000  1962.800049  1981.199951  22140500 2021-06-09

In [5]:
raw_data.time_series_data.shape

(100, 6)