# import

In [158]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)

In [1]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

In [2]:
import pprint
sys.path.append("C:\\Users\\User\\Work\\auto_trading\\auto_trading")
from raw_data_30 import RawData

# 描出

In [3]:
raw_data = RawData('7203','JP')

In [4]:
raw_data.time_series_data.tail()

       open    high          low        close     volume   datetime
115  2084.0  2092.0  2050.000000  2077.000000  189085000 2021-09-28
114  2031.0  2070.0  2030.000000  2066.000000   26810000 2021-09-27
113  1997.0  2020.0  1994.599976  2020.000000   34908000 2021-09-24
112  1978.0  1978.0  1961.199951  1964.000000   23934000 2021-09-22
111  1972.0  1992.0  1966.599976  1985.800049   29438500 2021-09-21

In [5]:
raw_data.time_series_data.shape

(30, 6)