# import

In [1]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)

In [2]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

# 前提

In [3]:
class RawData:
    def __init__(self, name, nationality):
        self.name = name
        self.nationality = nationality
        
    @property
    def time_series_data(self):
        if self.nationality == 'JP':
            if self.name[-2:] != '.T':
                self.name += '.T'
            else:
                pass
        else:
            pass
        my_share = share.Share(self.name)
        symbol_data = None

        try:
            symbol_data = my_share.get_historical(
                share.PERIOD_TYPE_WEEK, 30,
                share.FREQUENCY_TYPE_DAY, 1)
        except YahooFinanceError as e:
            print(e.message)
            sys.exit(1)

        df = pd.DataFrame(symbol_data)
        df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")
        df = df.iloc[::-1,1:][0:100]
        return df

In [4]:
# my_share = share.Share('7203.T')
# symbol_data = None
 
# try:
#     symbol_data = my_share.get_historical(
#         share.PERIOD_TYPE_WEEK, 30,
#         share.FREQUENCY_TYPE_DAY, 1)
# except YahooFinanceError as e:
#     print(e.message)
#     sys.exit(1)
 
# df = pd.DataFrame(symbol_data)

In [5]:
# df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")

In [6]:
# df = df.iloc[:,1:]

In [7]:
# df = df[0:30]

# 描出

In [8]:
raw_data = RawData('7203','JP')

In [9]:
raw_data.time_series_data.tail()

           open         high          low        close    volume   datetime
46  1986.000000  1991.599976  1976.599976  1980.000000  15667000 2021-06-14
45  1969.199951  1980.599976  1956.000000  1972.199951  32905500 2021-06-11
44  1966.000000  1983.599976  1964.000000  1973.199951  20786500 2021-06-10
43  1967.199951  1990.000000  1962.800049  1981.199951  22140500 2021-06-09
42  1967.599976  1979.800049  1957.000000  1971.199951  26894500 2021-06-08

In [10]:
raw_data.time_series_data.shape

(100, 6)