# import

In [158]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)

In [159]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

# 前提

In [161]:
class RawData:
    def __init__(self, name, nationality):
        self.name = name
        self.nationality = nationality
        
    @property
    def time_series_data(self):
        if self.nationality == 'JP':
            if self.name[-2:] != '.T':
                self.name += '.T'
            else:
                pass
        else:
            pass
        my_share = share.Share(self.name)
        symbol_data = None

        try:
            symbol_data = my_share.get_historical(
                share.PERIOD_TYPE_WEEK, 30,
                share.FREQUENCY_TYPE_DAY, 1)
        except YahooFinanceError as e:
            print(e.message)
            sys.exit(1)

        df = pd.DataFrame(symbol_data)
        df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")
        df = df.iloc[::-1,1:][0:30]
        return df

In [142]:
# my_share = share.Share('7203.T')
# symbol_data = None
 
# try:
#     symbol_data = my_share.get_historical(
#         share.PERIOD_TYPE_WEEK, 30,
#         share.FREQUENCY_TYPE_DAY, 1)
# except YahooFinanceError as e:
#     print(e.message)
#     sys.exit(1)
 
# df = pd.DataFrame(symbol_data)

In [143]:
# df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")

In [144]:
# df = df.iloc[:,1:]

In [145]:
# df = df[0:30]

# 描出

In [162]:
raw_data = RawData('7203','JP')

In [164]:
raw_data.time_series_data.tail()

            open    high          low        close    volume   datetime
115  1997.000000  2020.0  1994.599976  2020.000000  34908000 2021-09-24
114  1978.000000  1978.0  1961.199951  1964.000000  23934000 2021-09-22
113  1972.000000  1992.0  1966.599976  1985.800049  29438500 2021-09-21
112  1992.800049  2004.0  1986.400024  2004.000000  38861500 2021-09-17
111  1981.400024  1999.0  1979.199951  1988.000000  26673500 2021-09-16

In [165]:
raw_data.time_series_data.shape

(30, 6)