# import

In [8]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)

In [9]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

# 前提

In [10]:
class RawData:
    def __init__(self, name, nationality):
        self.name = name
        self.nationality = nationality
    
    @property
    def time_series_data(self):
        if self.nationality == 'JP':
            if self.name[-2:] != '.T':
                self.name += '.T'
            else:
                pass
        else:
            pass
        my_share = share.Share(self.name)
        symbol_data = None

        try:
            symbol_data = my_share.get_historical(
                share.PERIOD_TYPE_WEEK, 30,
                share.FREQUENCY_TYPE_DAY, 1)
        except YahooFinanceError as e:
            print(e.message)
            sys.exit(1)

        df = pd.DataFrame(symbol_data)
        df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")
        df = df.iloc[::-1,1:][0:30]
        return df

In [11]:
# my_share = share.Share('MSFT')
# symbol_data = None
 
# try:
#     symbol_data = my_share.get_historical(
#         share.PERIOD_TYPE_WEEK, 30,
#         share.FREQUENCY_TYPE_DAY, 1)
# except YahooFinanceError as e:
#     print(e.message)
#     sys.exit(1)
 
# df = pd.DataFrame(symbol_data)

In [12]:
# df["datetime"] = pd.to_datetime(df.timestamp, unit="ms")

In [13]:
# df = df.iloc[::-1,1:][0:30]

# 描出

In [14]:
raw_data = RawData('MSFT','US')

In [15]:
# print(raw_data)

In [16]:
raw_data.time_series_data.head()

,open,high,low,close,volume,datetime
146,324.130005,332.000000,323.899994,331.619995,34744900,2021-10-29 13:30:00
145,324.329987,324.869995,321.359985,324.350006,26297900,2021-10-28 13:30:00
144,316.000000,326.100006,316.000000,323.170013,52588700,2021-10-27 13:30:00
143,311.000000,312.399994,308.600006,310.109985,28107300,2021-10-26 13:30:00
142,309.359985,309.399994,306.459991,308.130005,17554500,2021-10-25 13:30:00

In [17]:
raw_data.time_series_data.shape

(30, 6)