# import

In [63]:
!pip install yahoo_finance_api2

Requirement already satisfied: yahoo_finance_api2 in c:\users\user\anaconda3\lib\site-packages (0.0.12)
Requirement already satisfied: pyyaml in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (5.4.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from yahoo_finance_api2) (2.25.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->yahoo_finance_api2) (2.10)

In [6]:
import datetime
import sys

import pandas as pd
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError

In [7]:
import pprint
sys.path.append("C:\\Users\\User\\Work\\auto_trading\\auto_trading")
from raw_data_30 import RawData

# 描出

In [8]:
raw_data = RawData('MSFT','US').time_series_data

In [9]:
raw_data.head()

,open,high,low,close,volume,datetime
146,330.309998,333.450012,330.000000,333.130005,26468300,2021-11-02 13:30:00
145,331.359985,331.489990,326.369995,329.369995,27073200,2021-11-01 13:30:00
144,324.130005,332.000000,323.899994,331.619995,34744900,2021-10-29 13:30:00
143,324.329987,324.869995,321.359985,324.350006,26297900,2021-10-28 13:30:00
142,316.000000,326.100006,316.000000,323.170013,52588700,2021-10-27 13:30:00